[project]
name = "{{project_slug}}"
description = "{{project_description}}"
readme = { file = "README.md", content-type = "text/markdown" }
requires-python = ">=3.12,<3.14"
dependencies = []
version = "0.1.0"

[dependency-groups]
dev = [
    "commitizen==4.13.10",
    "duckdb==1.5.1",
    "importlib-metadata==9.0.0",
    "mike==2.1.4",
    "mkdocs-autorefs==1.4.4",
    "mkdocs-gen-files==0.6.1",
    "mkdocs-literate-nav==0.6.3",
    "mkdocs-material==9.7.6",
    "mkdocs-section-index==0.3.11",
    "mkdocstrings[python]==1.0.3",
    "pre-commit==4.5.1",
    "pymdown-extensions==10.21.2",
    "pytest-cov==7.1.0",
    "pytest==9.0.3",
    "pyarrow==23.0.1",
    "ruff==0.15.10",
    "sqlglot==30.4.2",
    "typing-extensions==4.15.0",
    "marimo==0.23.1",
    "polars==1.39.3",
    "seaborn==0.13.2",
    "ty==0.0.29",
]

[tool.uv]
required-version = ">=0.8.0"
native-tls = true # Use the system TLS library

[build-system]
requires = ["uv_build>=0.11.6,<0.12.0"]
build-backend = "uv_build"

[project.urls]
"Homepage" = "https://github.com/{{github_username}}/{{project_slug}}"
"Source" = "https://github.com/{{github_username}}/{{project_slug}}"

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = [
    "--cov=src/",
    "--cov-report=xml",
    "--cov-report=term-missing",
    "--junitxml=report.xml",
]
# https://stackoverflow.com/a/50610630
pythonpath = [
  ".",
  "src"
]

[tool.ruff]
respect-gitignore = true
target-version = "py312"
line-length = 100

[tool.ruff.lint]
select = ["E", "F", "I", "UP", "B", "SIM"]

[tool.commitizen]
version_provider = "uv"
