#!/usr/bin/env bash

set -ex

echo "--Checking code format--"
uv run ruff format --check ./src ./tests {% if 'lambda' in services_support %}./lambdas{% endif %}
echo "--Linting all sources--"
uv run ruff check ./src ./tests {% if 'lambda' in services_support %}./lambdas{% endif %}